<div class="container">
    <form role="form" name="postForm" ng-submit="createNewTrend()" novalidate="">
        <legend>Nuovo Trend (Solo Trender)</legend>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group" ng-class="{'has-error': postForm.titleTxt.$invalid && postForm.titleTxt.$touched}">
                    <label for="titleTxt">Titolo Trend</label>
                    <input type="text" name="titleTxt" class="form-control" placeholder="Title" ng-model="newtrend.titleTxt" ng-minlength = "2" required="">
                    <small class="help-block" ng-show="postForm.titleTxt.$error.minlength && postForm.titleTxt.$touched">Please enter a valid title for post.</small>
                </div>
                <div class="form-group" ng-class="{'has-error': postForm.postTxt.$invalid && postForm.postTxt.$touched}">
                    <label for="categoria">Categoria Trend</label>
                    <textarea name="postTxt" class="form-control" placeholder="Post" ng-model="newtrend.categoria" ng-minlength="2" required=""></textarea>
                    <small class="help-block" ng-show="postForm.categoria.$error.minlength && postForm.categoria.$touched">Please enter a valid post.</small>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" ng-disabled="postForm.$invalid">Add Post</button>
                    <button class="active"><a href="#!homeView">Annulla</a></button>
                </div>
            </div>
        </div>
    </form>
</div>




<div class="container-fluid">
    <br>
    <ul class="media-list">
        <li class="media" ng-repeat="trendAttivo in dati.trendAttivos | orderBy: '-date' :true">
            <div class="media-body">
                <h4 class="media-heading"><strong>{{trendAttivo.title}}</strong></h4>

                <p>{{trendAttivo.categoria}}</p>

                <a href="#!trendPostView">Partecipa</a></button>
            </div>
        </li>
    </ul>
</div>